body {
    background: #eee;
    text-align: center;
    padding: 85px 0;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 90px;
    background-color: #bbb;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
}

.toggle input {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.toggle label {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 3px;
    font: normal 18px Arial, Sans-Serif;
    color: rgb(97, 96, 96);
    text-shadow: 0 1px 0 white;
    cursor: text;
    background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 50%, #fff 50%, #eee 100%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4),
        inset 0 -1px 1px #888,
        inset 0 -5px 1px #bbb,
        inset 0 -6px 0 white;
}

.toggle label::before {
    content: attr(off);
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    z-index: 4;
}

.toggle label::after {
    content: attr(on);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    text-shadow: 0 1px 0 white;
    color: rgb(97, 96, 96);
}

.toggle input:checked+label {
    background-image: -webkit-linear-gradient(top, #eee 0%, #ccc 50%, #fff 50%, #eee 100%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4),
        inset 0 1px 7px -1px #ccc,
        inset 0 5px 1px #fafafa,
        inset 0 6px 0 white;
}

.toggle input:checked+label:before {
    z-index: 1;
    top: 11px;
}

.toggle input:checked+label:after {
    bottom: 9px;
    color: #aaa;
    text-shadow: none;
    z-index: 4;
}