html,
body {
    min-height: 100%;
}

body {
    height: 100%;
    background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
    background-image: linear-gradient(top, #edecec, #cecbc9);
}

.container {
    width: 50%;
    margin: auto;
    padding-top: 100px;
}

.button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 100%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
    float: left;
    height: 70px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 70px;
    transition: all .1s linear;
}

.button:after {
    color: #e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}


.star:after {
    content: "★";
    left: 19px;
    top: 12px;
}

.tick:after {
    content: "✔";
    left: 23px;
    top: 16px;
}

.cross:after {
    content: "✖";
    left: 23px;
    top: 18px;
}

.recycle:after {
    content: "♻︎";
    left: 20px;
    top: 14px;
}

.moon:after {
    content: '☾';
    left: 22px;
    top: 16px;
}

.ship-wheel:after {
    content: '⎈';
    left: 20px;
    top: 17px;
}