body {
    background: #eeeeee;
    font-family: arial;
    font-weight: bold;
    color: #517294;
    font-size: 18px;
}

.dropdown-menu {
    background: #fff;
    position: absolute;
    justify-self: center;
    padding: 20px;
    border-bottom: 2px solid #0d4b8a;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    left: 100px;
}

.menu-content {
    max-height: 0;
    visibility: hidden;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0px;
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.dropdown-menu label {
    display: flex;
    cursor: pointer;
    background: url('./img/closed.png') no-repeat left center;
    padding: 35px 0 35px 80px;
    align-self: center;
}

input#menu {
    display: none;
}

/* Toggle dropdown */

input:checked~label {
    background: url('./img/open.png') no-repeat left center;
}

input:checked~.menu-content {
    max-height: 100%;
    visibility: visible;
}