body {
    background: #dddddd;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: #111111;
}

.wrapper {
    max-width: 960px;
    margin: 10% auto;
    text-align: center;
    line-height: 2em;
}

.button {
    border: 3px solid #111;
    padding: 10px;
    color: #111;
    background: #fff;
    text-decoration: none;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

#ad .popup-content {
    width: 500px;
    height: 646px;
    margin: 100px auto;
    position: relative;
    border: 5px solid #fff;
}

.close {
    background: #A9A9A9;
    border-radius: 50%;
    color: #111;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 9px 5px 11px;
    text-align: center;
    border: 3px solid #A9A9A9;
    text-decoration: none;
    line-height: 0;
    width: 10px;
}